<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.adyax.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
        <key>PADCMSConfig</key>
        <dict>
                <key>PCScrollViewScrollButtonsDisabled</key>
                <true/>
                <key>PCConfigApplicationIdentifier</key>
                <integer>12</integer>
                <key>PCConfigClientIdentifier</key>
                <integer>11</integer>
                <key>PCConfigGANAccountId</key>
                <string>UA-1535257-15</string>
                <key>PCConfigFacebookId</key>
                <string>239520262820529</string>
                <key>PCConfigServerURL</key>
                <string>http://new.padcms.adyax.com</string>
                <key>PCConfigUseSandBox</key>
                <false/>
                <key>PCDisableSearching</key>
                <true/>
	</dict>
</dict>
</plist>
