<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.ideateam.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>PADCMSConfig</key>
	<dict>
		<key>PCConfigApplicationIdentifier</key>
		<integer>3</integer>
		<key>PCConfigFacebookId</key>
		<string>131210100350466</string>
		<key>PCConfigGANAccountId</key>
		<string></string>
		<key>PCConfigServerURL</key>
		<string>http://pp.padcms.adyax.com</string>
		<key>PCConfigUseSandBox</key>
		<false/>
		<key>PCDisableSearching</key>
		<true/>
		<key>PCScrollViewScrollButtonsDisabled</key>
		<true/>
		<key>PCStyleSheet</key>
		<dict>
			<key>PCEmbeddedPhotosButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>embeddedPhotosButton</string>
						<key>PCButtonBackgroundStretchable</key>
						<dict>
							<key>PCLeftCapWidth</key>
							<integer>16</integer>
							<key>PCTopCapHeight</key>
							<integer>16</integer>
						</dict>
						<key>PCButtonBackgroundUseColorTint</key>
						<false/>
					</dict>
				</dict>
				<key>PCSize</key>
				<dict>
					<key>PCSizeHeight</key>
					<integer>48</integer>
					<key>PCSizeWidth</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>PCGallaryReturnButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>gallaryReturnButtonBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
						<key>PCButtonForegroundImageName</key>
						<string>gallaryReturnButtonText</string>
						<key>PCButtonMargin</key>
						<dict>
							<key>PCButtonMarginX</key>
							<integer>5</integer>
							<key>PCButtonMarginY</key>
							<integer>5</integer>
						</dict>
						<key>PCButtonPosition</key>
						<string>PCButtonPositionTopRightCorner</string>
					</dict>
				</dict>
			</dict>
			<key>PCGalleryEnterButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>gallaryEnterButtonBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
						<key>PCButtonForegroundImageName</key>
						<string>gallaryEnterButtonText</string>
						<key>PCButtonMargin</key>
						<dict>
							<key>PCButtonMarginX</key>
							<integer>-5</integer>
							<key>PCButtonMarginY</key>
							<integer>5</integer>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>PCGalleryPageControlItem</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>gallaryPageControlItemNormal</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<false/>
					</dict>
					<key>PCButtonImageSelected</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>gallaryPageControlItemSelected</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
					</dict>
				</dict>
			</dict>
			<key>PCScrollControl</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>scrollControllBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
						<key>PCButtonForegroundImageName</key>
						<string>scrollControllForeground</string>
					</dict>
				</dict>
			</dict>
			<key>PCSliderPageControlItem</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>sliderPageControlItemNormal</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<false/>
					</dict>
					<key>PCButtonImageSelected</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>sliderPageControlItemSelected</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
					</dict>
				</dict>
			</dict>
			<key>PCTocButton</key>
			<dict>
				<key>PCButtonImages</key>
				<dict>
					<key>PCButtonImageNormal</key>
					<dict>
						<key>PCButtonBackgroundImageName</key>
						<string>tocMenuButtonBackground</string>
						<key>PCButtonBackgroundUseColorTint</key>
						<true/>
						<key>PCButtonForegroundImageName</key>
						<string>tocMenuButtonForeground</string>
						<key>PCButtonMargin</key>
						<dict>
							<key>PCButtonMarginX</key>
							<integer>5</integer>
							<key>PCButtonMarginY</key>
							<integer>-5</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
